
html,
body {
	overflow: hidden;
}

#ly-header {
	height: auto;
}

#ly-header>*:last-child {
	margin-left: auto;
}

md-sidenav.md-locked-open {
	min-width: 15em;
	width: 15em;

	-webkit-box-shadow: none;
	box-shadow: none;
}

ng-view,
[ng-view] {
	padding: 1em;
}

ic-svg,
[ic-svg],
[data-ic-svg] {
	display: inline-block;
	padding: 0px;
	margin: 0px;

	width: 24px;
	height: 24px;

	flex: 0 0 auto;

	fill: currentColor;
}

ic-svg>svg,
[ic-svg]>svg,
[data-ic-svg] {
	width: 100%;
	height: 100%;
}

.app-cl-bt-icon {
	width: 32px;
	height: 32px;

	padding: 0px;
}

.app-cp-component-label {
	font-weight: bold;

	color: rgba(0, 0, 0, 0.50);
}
.app-cp-component-label::after{
	margin-left: 0.50em;
	content: ':';
}

table.app-view-list {
	width: 100%;
	border-collapse: collapse;
}

table.app-view-list>*>tr {
	height: 3em;
	border-bottom: 1px solid gray;
}

table.app-view-list>tbody>tr:first-child {
	border-top: 1px solid gray;
}

table.app-view-list>thead>tr>th {
	text-align: left;
}

table.app-view-list>tbody>tr>td:not(.app-view-list-toolsbar) {
	min-width: 5em;
}

table.app-view-list>tbody>tr.app-cl-item-canceled>td:first-child,
table.app-view-list>tbody>tr.app-cl-item-canceled>td:first-child *:not(.app-view-list-altheader) {
	text-decoration: line-through;
}

table.app-view-list>tbody>tr.app-cl-item-canceled>td:not(.app-view-list-toolsbar) {
	color: rgba(0,0,0,0.26);
}

table.app-view-list .app-view-action-list {
	justify-content: space-around;
}

table.app-view-list .app-view-list-altheader{
	display: none;

	color: blue;
	font-weight: bold;

	width: 25%;
	text-align: right;

	padding-right: 1em;

	min-width: 6em;
}

table.app-view-list .app-view-list-altheader::after {
	content: ':';
}

table.app-view-list .app-view-list-value {
	display: inline-block;
}

form.app-view-self {
}

form.app-view-self .app-view-self-status {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: relative;
}

form.app-view-self.app-cl-item-canceled .app-view-self-status {
	height: 0px;
	overflow: visible;
}

form.app-view-self.app-cl-item-canceled .app-view-self-status>* {
	font-size: 120px;
	color: rgba(255, 0, 0, 0.125);

	transform: translateY(150px) translateX(-14.645%) rotate(-0.125turn);
	transform-origin: right center;
}
@media (max-width: 600px) {
	form.app-view-self.app-cl-item-canceled .app-view-self-status>* {
		font-size: 60px;

		transform: translateY(300px) translateX(-14.645%) rotate(-0.125turn);
	}
}

@media (max-width: 600px) {
	table.app-view-list>colgroup>col.app-view-list-col-realign {
		width: auto !important;
	}

	table.app-view-list>*>tr {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	table.app-view-list>thead>tr>th:not(.app-view-list-toolsbar){
		display: none;
	}

	table.app-view-list>thead>tr>th:first-child{
		display: block;

		visibility: hidden;
	}

	table.app-view-list>tbody>tr>*:not(.app-view-list-toolsbar),
	table.app-view-list>tfoot>tr>*:not(.app-view-list-toolsbar){
		display: flex;
	}

	table.app-view-list .app-view-list-altheader{
		display: inline-block;
	}
}

.app-ly-opt-flex {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

#app-cp-progress-loading:not(.app-st-active){
	visibility: hidden;
}

#app-cp-title {
	margin: 0px;

	overflow: hidden;
}

/*
	ng-animate sequence
	[show->hide]                      .ng-hide-add    -> .ng-hide-add.ng-hide-add-active       -> .ng-hide
	[hide->show] "remove .ng-hide" -> .ng-hide-remove -> .ng-hide-remove.ng-hide-remove-active
*/
/* animation by css transition, code below work correctly
#app-cp-title.ng-animate {
	transition: all 0.20s;
}

#app-cp-title.ng-hide-add-active {
	margin-left: -8em;
}

#app-cp-title.ng-hide-remove:not(.ng-hide-remove-active) {
	margin-left: -8em;
}
*/
#app-cp-title.ng-animate.ng-hide-remove {
	-webkit-animation: 0.30s app-dummyt;
	-moz-animation: 0.30s app-dummyt;
	-o-animation: 0.30s app-dummyt;
	animation: 0.30s app-dummyt;
}

#app-cp-title.ng-hide-add>*:first-child {
}

#app-cp-title.ng-hide-remove>*:first-child {
	-webkit-animation: 0.30s app-view-slide-in ease-in;
	-moz-animation: 0.30s app-view-slide-in ease-in;
	-o-animation: 0.30s app-view-slide-in ease-in;
	animation: 0.30s app-view-slide-in ease-in;
}

@keyframes app-dummy {
	from {

	}
	to {

	}
}

@keyframes app-view-slide-in {
	0% {
		margin-left: -8em;
		opacity: 0;
	}
	75% {
		margin-left: 2em;
	}
	100% {
	}
}

@-moz-keyframes app-view-slide-in {
	0% {
		margin-left: -8em;
		opacity: 0;
	}
	75% {
		margin-left: 2em;
	}
	100% {
	}
}

@-webkit-keyframes app-view-slide-in {
	0% {
		margin-left: -8em;
		opacity: 0;
	}
	75% {
		margin-left: 2em;
	}
	100% {
	}
}

@keyframes app-view-slide-out {
	0% {
	}
	100% {
		margin-left: -8em;
		opacity: 0;
	}
}

@-moz-keyframes app-view-slide-out {
	0% {
	}
	100% {
		margin-left: -8em;
		opacity: 0;
	}
}

@-webkit-keyframes app-view-slide-out {
	0% {
	}
	100% {
		margin-left: -8em;
		opacity: 0;
	}
}

#app-cp-view-search>*.app-cl-search-box {
	padding-bottom: 0px;
}

#app-cp-view-search.app-st-padding>*.app-cl-search-box {
	color: rgba(0, 0, 0, 0.50);
}

#app-cp-view-search>*.app-cl-search-box>input {
	border-color: inherit;
	border-width: 0 0 1px 0;
}
#app-cp-view-search.app-st-padding>*.app-cl-search-box>input {
	color: inherit;
}

#app-cp-view-search.app-st-active {
	flex: 1;
}

#app-cp-view-search:not(.app-st-active)>*:not(#app-cmd-view-search) {
	display: none;
}

#app-ly-container-content {
	position: relative;

	overflow-y: scroll;
}

.app-cp-content.ng-animate {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.app-cp-content.ng-enter {
	-webkit-animation: 0.50s app-view-fade-in;
	-moz-animation: 0.50s app-view-fade-in;
	-o-animation: 0.50s app-view-fade-in;
	animation: 0.50s app-view-fade-in;
	z-index: 100;
}

.app-cp-content.ng-leave {
	-webkit-animation: 0.50s app-view-fade-out;
	-moz-animation: 0.50s app-view-fade-out;
	-o-animation: 0.50s app-view-fade-out;
	animation: 0.50s app-view-fade-out;
	z-index:99;
}

@keyframes app-view-fade-in {
	from {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
	to {
		/* opacity: 1; */
	}
}
@-moz-keyframes app-view-fade-in {
	from {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
	to {
		/* opacity: 1; */
	}
}
@-webkit-keyframes app-view-fade-in {
	from {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
	to {
		/* opacity: 1; */
	}
}

@keyframes app-view-fade-out {
	from {
		/* opacity: 1; */
	}
	to {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
}
@-moz-keyframes app-view-fade-out {
	from {
		/* opacity: 1; */
	}
	to {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
}
@-webkit-keyframes app-view-fade-out {
	from {
		/* opacity: 1; */
	}
	to {
		opacity: 0;
		/*-webkit-transform: scale(0, 0);*/
		/*-moz-transform: scale(0, 0);*/
		/*-o-transform: scale(0, 0);*/
		/*transform: scale(0, 0);*/
	}
}
