input-dynamic .input-dynamic-cp-autocalculate {
	transform: translateX(25%);
}
input-dynamic .input-dynamic-cp-autocalculate.input-dynamic-st-active {
	opacity: 0.25;
}

input-dynamic .input-dynamic-cl-number {
	display: inline-block;

	font-family: monospace;
	font-size: 1.25em;
	text-align: right;
}
