<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
	<symbol id="ic_view_list_new" viewBox="0 0 24 24">
		<use xlink:href="#ic_insert_drive_file" />
	</symbol>
	<symbol id="ic_view_list_self" viewBox="0 0 24 24">
		<use xlink:href="#ic_pageview" />
	</symbol>
	<symbol id="ic_view_list_update" viewBox="0 0 24 24">
		<use xlink:href="#ic_edit" />
	</symbol>
	<symbol id="ic_view_list_delete" viewBox="0 0 24 24">
		<use xlink:href="#ic_delete" />
	</symbol>
</svg>
<table class="app-view-list">
	<colgroup>
		<col  ng-repeat="field in model.fields" />
		<col style="width: 5em;" />
	</colgroup>
	<thead>
		<tr>
			<th  ng-repeat="field in model.fields" ng-show="!field.show || field.show[mode]" ng-bind="field.name"></th>
			<th>
				<div layout="row" class="app-view-action-list">
					<md-button ng-repeat="link in model.links" ng-hide="link.href === null" ng-click="execute(link)" aria-label="{{link.rel}} entity">
						<ic-svg ic-href="#ic_view_list_{{link.rel}}"></ic-svg>
					</md-button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in model.items">
			<td ng-repeat="field in model.fields" ng-show="!field.show || field.show[mode]" data-test="{{!field.show || field.show[mode]}} {{mode}}">
				<label ng-bind="field.name" flex="40" class="app-view-list-altheader"></label>
				<span ng-bind="item.data[field.name]" flex="60" class="app-view-list-value"></span>
			</td>
			<td>
				<div layout="row" class="app-view-action-list">
					<md-button ng-repeat="link in item.links" ng-disabled="link.href === null" ng-click="execute(link)" aria-label="{{link.rel}} entity">
						<ic-svg ic-href="#ic_view_list_{{link.rel}}"></ic-svg>
					</md-button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!--
<md-button type="button" ng-click="showScope()" layout layout-align="center center" aria-label="show scope" class="md-raised" style="padding: 0.50em 1.00em; margin: 0px 0.5em;">
	<span style="margin-top: 0.25em;">Show Scope</span>
</md-button>
-->
