<table class="entity-list">
	<colgroup>
		<col  ng-repeat="field in model.fields" style="text-align: left;" />
		<col style="width: 5em;" />
	</colgroup>
	<thead>
		<tr>
			<th  ng-repeat="field in model.fields" ng-bind="field"></th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in model.items">
			<td ng-repeat="field in model.fields" ng-bind="item[field]"></td>
			<td>
				<md-button ng-click="self(item.id)" aria-label="edit">
					<ic-svg ic-href="#ic_mode_edit"></ic-svg>
				</md-button>
				<md-button ng-click="remove(item.id)" aria-label="delete">
					<ic-svg ic-href="#ic_delete"></ic-svg>
				</md-button>
			</td>
		</tr>
	</tbody>
</table>
