<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
	<symbol id="ic_view_list_new" viewBox="0 0 24 24">
		<use xlink:href="#ic_insert_drive_file" />
	</symbol>
	<symbol id="ic_view_list_self" viewBox="0 0 24 24">
		<use xlink:href="#ic_pageview" />
	</symbol>
	<symbol id="ic_view_list_update" viewBox="0 0 24 24">
		<use xlink:href="#ic_edit" />
	</symbol>
	<symbol id="ic_view_list_delete" viewBox="0 0 24 24">
		<use xlink:href="#ic_delete" />
	</symbol>
</svg>
<table class="app-view-list"  md-swipe-left="execute((model.links | filter:{'rel': 'page_next'}:true)[0])"  md-swipe-right="execute((model.links | filter:{'rel': 'page_previous'}:true)[0])">
	<caption style="text-align: right; font-size: small;">
		<span ng-if="(model.links | filter:{'rel': 'page_current'}:true).length == 1">
			<span>Page: </span>
			<span ng-bind="(model.links | filter:{'rel': 'page_current'}:true)[0].state.page"></span>
			<span ng-if="(model.links | filter:{'rel': 'page_current'}:true)[0].total != null">/</span>
			<span ng-if="(model.links | filter:{'rel': 'page_current'}:true)[0].total != null" ng-bind="(model.links | filter:{'rel': 'page_current'}:true)[0].total"></span>
		</span>
	</caption>
	<colgroup>
		<col  ng-repeat="field in model.fields" ng-if="!field.show || field.show[mode] || ((mode === null) && (field.show['list']))" ng-style="{'width': field.width}" class="app-view-list-col-realign" />
		<col style="width: 5em;" />
	</colgroup>
	<thead>
		<tr>
			<th  ng-repeat="field in model.fields" ng-if="!field.show || field.show[mode] || ((mode === null) && (field.show['list']))" ng-bind="field.name_field || field.name"></th>
			<th class="app-view-list-toolsbar">
				<div layout="row" class="app-view-action-list">
					<md-button ng-repeat="link in model.links" ng-hide="(link.href || null) === null" ng-click="execute(link)" aria-label="{{link.rel}} entity">
						<ic-svg ic-href="#ic_view_list_{{link.rel}}"></ic-svg>
					</md-button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in model.items">
			<td ng-repeat="field in model.fields" ng-if="!field.show || field.show[mode] || ((mode === null) && (field.show['list']))">
				<label ng-bind="field.name" flex="40" class="app-view-list-altheader"></label>
				<span ng-bind="item.data[field.name] | model:field" flex="60" class="app-view-list-value"></span>
			</td>
			<td class="app-view-list-toolsbar">
				<div layout="row" class="app-view-action-list">
					<md-button ng-repeat="link in item.links" ng-disabled="link.href === null" ng-click="execute(link)" aria-label="{{link.rel}} entity">
						<ic-svg ic-href="#ic_view_list_{{link.rel}}"></ic-svg>
					</md-button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div layout="row" layout-align="end center" layout-padding>
	<div ng-repeat="link in model.links">
		<span ng-if="link.rel == 'page_current'">
			<span style="font-weight: bold;">Page: </span>
			<span ng-bind="link.state.page"></span>
			<span ng-if="link.total != null">/</span>
			<span ng-if="link.total != null" ng-bind="link.total"></span>
		</span>
		<md-button ng-if="(link.rel == 'page_previous') || (link.rel == 'page_next')" ng-disabled="link.state === null" ng-click="execute(link)" layout layout-align="center center" aria-label="{{link.rel}} entity" style="font-size: 0.90em;">
			<ic-svg ng-if="link.rel == 'page_previous'" ic-href="#ic_navigate_before"></ic-svg>
			<span ng-bind="link.rel.split('_')[1]"></span>
			<ic-svg ng-if="link.rel == 'page_next'" ic-href="#ic_navigate_next"></ic-svg>
		</md-button>
	</div>
</div>
<!--
<md-button type="button" ng-click="showScope()" layout layout-align="center center" aria-label="show scope" class="md-raised" style="padding: 0.50em 1.00em; margin: 0px 0.5em;">
	<span style="margin-top: 0.25em;">Show Scope</span>
</md-button>
-->
