<table class="app-view-list input-dynamic-cl-datalist" ng-controller="inputDynamicDatalist">
	<style type="text/css" scoped>
table.input-dynamic-cl-datalist>tbody>tr>td {
	vertical-align: bottom;
}
	</style>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<symbol id="ic_item_new">
			<use xlink:href="#ic_add_circle_outline" />
		</symbol>
		<symbol id="ic_item_delete">
			<use xlink:href="#ic_remove_circle_outline" />
		</symbol>
	</svg>
	<caption style="text-align: left;">
		<label ng-bind="$meta.name_field || $meta.name" class="app-cp-component-label"></label>
	</caption>
	<colgroup>
		<col ng-if="$mode != null" style="width: 32px;" />
		<col ng-repeat="field in $meta.fields" ng-if="!field.show || field.show[$mode]" ng-style="{'width': field.width}" class="app-view-list-col-realign" />
	</colgroup>
	<tbody>
		<tr ng-repeat="item in $model[$meta.name]" ng-form="$form">
			<th ng-if="$mode != null" class="app-view-list-toolsbar" style="vertical-align: middle;">
				<md-button type="button" ng-click="delItem($index)" aria-label="del item">
					<ic-svg ic-href="#ic_item_delete"></ic-svg>
				</md-button>
			</th>
			<td ng-repeat="field in $meta.fields" ng-if="!field.show || field.show[$mode]">
				<input-dynamic ng-model="item" input-mode="$mode" input-meta="field" input-form="$form" style="width: 100%;"></input-dynamic>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr style="border-bottom: none !important;">
			<th ng-if="$mode != null" class="app-view-list-toolsbar" style="vertical-align: middle;">
				<md-button type="button" ng-click="addItem()" aria-label="add item">
					<ic-svg ic-href="#ic_item_new"></ic-svg>
				</md-button>
			</th>
			<th ng-repeat="field in $meta.fields" ng-if="!field.show || field.show[$mode]" style="padding-right: 1.25em;">
				<div layout="column" ng-if="field.summary" flex>
					<output ng-repeat="prop in field.summary" ng-class="prop.classes" flex style="border-bottom: 3px double black;">
						<span class="app-view-list-altheader">{{prop.text}}</span>
						<span>{{$model[$meta.name] | summary:prop.expression:prop.fixed}}</span>
					</output>
				</div>
			</th>
		</tr>
	</tfoot>
</table>
